# coding: utf-8

"""
    Nozomi API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 5
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SubComputeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def sub_compute_all_by_child_child_compute_guid_get(self, child_compute_guid, **kwargs):  # noqa: E501
        """Obtains all of the relevant parent computes the child compute has.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_all_by_child_child_compute_guid_get(child_compute_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str child_compute_guid: The child compute that has these computes as its parent. (required)
        :param int index: The 'page' of the list of results of every x items.
        :return: ComputeViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sub_compute_all_by_child_child_compute_guid_get_with_http_info(child_compute_guid, **kwargs)  # noqa: E501
        else:
            (data) = self.sub_compute_all_by_child_child_compute_guid_get_with_http_info(child_compute_guid, **kwargs)  # noqa: E501
            return data

    def sub_compute_all_by_child_child_compute_guid_get_with_http_info(self, child_compute_guid, **kwargs):  # noqa: E501
        """Obtains all of the relevant parent computes the child compute has.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_all_by_child_child_compute_guid_get_with_http_info(child_compute_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str child_compute_guid: The child compute that has these computes as its parent. (required)
        :param int index: The 'page' of the list of results of every x items.
        :return: ComputeViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['child_compute_guid', 'index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sub_compute_all_by_child_child_compute_guid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'child_compute_guid' is set
        if ('child_compute_guid' not in params or
                params['child_compute_guid'] is None):
            raise ValueError("Missing the required parameter `child_compute_guid` when calling `sub_compute_all_by_child_child_compute_guid_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'child_compute_guid' in params:
            path_params['childComputeGuid'] = params['child_compute_guid']  # noqa: E501

        query_params = []
        if 'index' in params:
            query_params.append(('index', params['index']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['API Key']  # noqa: E501

        return self.api_client.call_api(
            '/SubCompute/AllByChild/{childComputeGuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ComputeViewModelIEnumerablePaginatedViewModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sub_compute_all_by_parent_parent_compute_guid_get(self, parent_compute_guid, **kwargs):  # noqa: E501
        """Obtains all of the relevant child computes the parent compute has.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_all_by_parent_parent_compute_guid_get(parent_compute_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent_compute_guid: The parent compute that has these computes as its child. (required)
        :param int index: The 'page' of the list of results of every x items.
        :return: ComputeViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sub_compute_all_by_parent_parent_compute_guid_get_with_http_info(parent_compute_guid, **kwargs)  # noqa: E501
        else:
            (data) = self.sub_compute_all_by_parent_parent_compute_guid_get_with_http_info(parent_compute_guid, **kwargs)  # noqa: E501
            return data

    def sub_compute_all_by_parent_parent_compute_guid_get_with_http_info(self, parent_compute_guid, **kwargs):  # noqa: E501
        """Obtains all of the relevant child computes the parent compute has.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_all_by_parent_parent_compute_guid_get_with_http_info(parent_compute_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent_compute_guid: The parent compute that has these computes as its child. (required)
        :param int index: The 'page' of the list of results of every x items.
        :return: ComputeViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent_compute_guid', 'index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sub_compute_all_by_parent_parent_compute_guid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parent_compute_guid' is set
        if ('parent_compute_guid' not in params or
                params['parent_compute_guid'] is None):
            raise ValueError("Missing the required parameter `parent_compute_guid` when calling `sub_compute_all_by_parent_parent_compute_guid_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parent_compute_guid' in params:
            path_params['parentComputeGuid'] = params['parent_compute_guid']  # noqa: E501

        query_params = []
        if 'index' in params:
            query_params.append(('index', params['index']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['API Key']  # noqa: E501

        return self.api_client.call_api(
            '/SubCompute/AllByParent/{parentComputeGuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ComputeViewModelIEnumerablePaginatedViewModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sub_compute_all_index_get(self, index, **kwargs):  # noqa: E501
        """Obtains all of the relevant Sub Computes you own.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_all_index_get(index, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int index: The 'page' of the list of results of every x items. (required)
        :return: SubComputeViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sub_compute_all_index_get_with_http_info(index, **kwargs)  # noqa: E501
        else:
            (data) = self.sub_compute_all_index_get_with_http_info(index, **kwargs)  # noqa: E501
            return data

    def sub_compute_all_index_get_with_http_info(self, index, **kwargs):  # noqa: E501
        """Obtains all of the relevant Sub Computes you own.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_all_index_get_with_http_info(index, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int index: The 'page' of the list of results of every x items. (required)
        :return: SubComputeViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sub_compute_all_index_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'index' is set
        if ('index' not in params or
                params['index'] is None):
            raise ValueError("Missing the required parameter `index` when calling `sub_compute_all_index_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'index' in params:
            path_params['index'] = params['index']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['API Key']  # noqa: E501

        return self.api_client.call_api(
            '/SubCompute/All/{index}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SubComputeViewModelIEnumerablePaginatedViewModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def sub_compute_get_get(self, **kwargs):  # noqa: E501
        """Obtains the specific sub compute.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_get_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent_compute_guid: The parent compute key.
        :param str child_compute_guid: The child compute key.
        :return: SubComputeViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.sub_compute_get_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.sub_compute_get_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def sub_compute_get_get_with_http_info(self, **kwargs):  # noqa: E501
        """Obtains the specific sub compute.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.sub_compute_get_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str parent_compute_guid: The parent compute key.
        :param str child_compute_guid: The child compute key.
        :return: SubComputeViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parent_compute_guid', 'child_compute_guid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method sub_compute_get_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'parent_compute_guid' in params:
            query_params.append(('parentComputeGuid', params['parent_compute_guid']))  # noqa: E501
        if 'child_compute_guid' in params:
            query_params.append(('childComputeGuid', params['child_compute_guid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['API Key']  # noqa: E501

        return self.api_client.call_api(
            '/SubCompute/Get', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SubComputeViewModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
