# coding: utf-8

"""
    Nozomi API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 5
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class WebsocketCommandPropertyApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def websocket_command_property_all_by_command_get(self, **kwargs):  # noqa: E501
        """Retrieves all websocket command properties relevant to its parent command.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.websocket_command_property_all_by_command_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str command_guid: The unique identifier of the command.
        :param int index: The 'page' of the list you are viewing, in 1000s.
        :return: WebsocketCommandPropertyViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.websocket_command_property_all_by_command_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.websocket_command_property_all_by_command_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def websocket_command_property_all_by_command_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all websocket command properties relevant to its parent command.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.websocket_command_property_all_by_command_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str command_guid: The unique identifier of the command.
        :param int index: The 'page' of the list you are viewing, in 1000s.
        :return: WebsocketCommandPropertyViewModelIEnumerablePaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['command_guid', 'index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method websocket_command_property_all_by_command_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'command_guid' in params:
            query_params.append(('commandGuid', params['command_guid']))  # noqa: E501
        if 'index' in params:
            query_params.append(('index', params['index']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['API Key']  # noqa: E501

        return self.api_client.call_api(
            '/WebsocketCommandProperty/AllByCommand', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WebsocketCommandPropertyViewModelIEnumerablePaginatedViewModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def websocket_command_property_all_get(self, **kwargs):  # noqa: E501
        """Retrieves all websocket command properties owned by the stated user with a pagination of  1000 items.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.websocket_command_property_all_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int index: The 'page' of the list you are viewing, in 1000s.
        :return: WebsocketCommandPropertyViewModelICollectionPaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.websocket_command_property_all_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.websocket_command_property_all_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def websocket_command_property_all_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves all websocket command properties owned by the stated user with a pagination of  1000 items.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.websocket_command_property_all_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int index: The 'page' of the list you are viewing, in 1000s.
        :return: WebsocketCommandPropertyViewModelICollectionPaginatedViewModel
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['index']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method websocket_command_property_all_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'index' in params:
            query_params.append(('index', params['index']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['API Key']  # noqa: E501

        return self.api_client.call_api(
            '/WebsocketCommandProperty/All', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WebsocketCommandPropertyViewModelICollectionPaginatedViewModel',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
